@page "/departmentdetail/{id}"

<h3>Detail Student</h3>
<p>NIM: @Department.DepartmentId</p>
<p>Nama Belakang: @Department.DepartmentName</p>
<p>Nama depan: @Department.DepartmentId</p>
<p>Tanggal Masuk: @Department.DepartmentName</p>